<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUSrentals - Admin Sign in</title>
</head>
<body>
    <h2>Admin Login</h2>
    <form action="/admin" method="POST">
        <label for="user_id">User ID:</label>
        <input type="number" id="user_id" name="user_id" required><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        
        <input type="submit" value="Sign In">
    </form>
    <h3>{{ error }}</h3>
    <br>
</body>
</html>