<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUSrentals - Landing Page</title>
    <!-- Add CSS Here -->
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">-->
</head>
<body>
    <header>
        <h1>Welcome to NUSrentals</h1>
        <nav>
            <button onclick="location.href='/login'">Sign In</button>
            <button onclick="location.href='/signup'">Sign Up</button>
        </nav>
    </header>
    <main>
        <h2>Featured Listings</h2>
        <section>
            <article>
                <h3>Listing 1</h3>
                <img src="html_images/pgp-house-blocks.jpg" alt="Listing 1">
                <p>Furnished Apartments</p>
            </article>
            <article>
                <h3>Listing 2</h3>
                <img src="html_images\2017-residential-college-4-6_1.png" alt="Listing 2">
                <p>Communal living spaces</p>
            </article>
            <article>
                <h3>Listing 3</h3>
                <img src="html_images\2017-eusoff-hall-2_2.png" alt="Listing 3">
                <p>Shared accomodations</p>
            </article>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 NUSrentals. All rights reserved.</p>
    </footer>
</body>
</html>