<!DOCTYPE html>
<html>
<head>
	<title>Booking Confirmation</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<header>
		<h1>Booking Confirmation</h1>
	</header>
	<main>
		<section>
			<div class='booking'>
			<h2>Thank you for your booking!</h2>
			<p>Your booking reference number is: <strong>{{ booking_id }}</strong></p>
			<p>You have booked a room at:</p>
			<ul>
				<li>Property Name: {{ property_id }}</li>
				<li>Check-in Date: <strong>{{ start_date }}</strong></li>
				<li>Check-out Date: <strong>{{ end_date }}</strong></li>
			</ul>
			<p>You will receive a confirmation email shortly with additional details.</p>
			<a href="index.html" class="button">Back to Home</a>
		</section>
	</main>
	
	<footer>
		<p>&copy; NusRentals.com</p>
	</footer>
</body>
</html>
