<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUSrentals - Home</title>
    <!-- Add CSS file -->
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">-->
</head>
<body>
    <header>
        <h1>NUSrentals - Housing Types</h1>
    </header>
    <main>
        <section>
            {% for description, image_name in images %}
            <article>
                <h3>{{ description }}</h3>
                <img src="{{ url_for('static', filename='images/' + image_name) }}" alt="{{ description }}">
            </article>
            {% endfor %}
        </section>
    </main>
    <footer>
        <p>&copy; 2023 NUSrentals. All rights reserved.</p>
    </footer>
</body>
</html>
