<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUSrentals - Home</title>
    <!-- Add CSS file -->
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">-->
</head>
<body>
    <header>
        <h1>NUSrentals - Housing Types</h1>
        <h1>Welcome, {{UserID}}</h1>
    </header>
    <div style = "position:relative; left:800px; top:2px; background-color:white;">
<form action="/logout" method="post">
    <button name="logout" value="logout">Logout</button>
    </div>
</form>
<div style = "position:relative; left:100px; top:px; background-color:white;">
<form action="/profile" method="post">
    <button name="profile" value="profile">Profile</button>
    </div>
</form>
    <main>
        <section>
            {% for description, image_name in images %}
            <article>
                <h3>{{ description }}</h3>
                <img src="{{ url_for('static', filename='images/' + image_name) }}" alt="{{ description }}">
            </article>
            {% endfor %}
        </section>
    </main>
    <footer>
        <p>&copy; 2023 NUSrentals. All rights reserved.</p>
    </footer>
</body>
</html>
